.root { 
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f3f4;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
